body{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: antiquewhite;
}
#cover{
   height: 50vh;
   border-radius: 50%;
}
div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
/* Container principal - alinha os botões */
.navigation {
  gap: 20px;
  padding: 20px;
  background-color: #f0f2f5; /* Fundo suave */
  border-radius: 50px;
  box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
}
section{
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Estilo base dos botões */
.action-btn {
  background: #f0f2f5;
  margin: 1%;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 50%; /* Botões redondos */
  box-shadow: 3px 3px 6px #d1d9e6, -3px -3px 6px #ffffff;
  transition: all 0.3s ease;
  
  /* Centralizar ícone dentro do botão */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Efeito de hover e clique */
.action-btn:hover {
  color: #333;
  box-shadow: 1px 1px 3px #d1d9e6, -1px -1px 3px #ffffff;
}

.action-btn:active {
  box-shadow: inset 3px 3px 6px #d1d9e6, inset -3px -3px 6px #ffffff;
}

/* Botão de Play maior */
.action-btn-big {
  font-size: 1.8rem;
  padding: 20px;
  color: #333; /* Cor de destaque */
}

.action-btn-big:hover {
  color: #000000;
}
